# MongoDB connection string
LISTENING_PORT=3000
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE_NAME=tether-prices-db
DATA_PROVIDER_URL=https://api.coingecko.com/api/v3/coins
TOP_CURRENCIES_LIMIT=5
TOP_EXCHANGES_COUNT=3
SYMBOL_MAX_LENGTH=12
PRICE_STALENESS_THRESHOLD_SECONDS=300
PRICE_SYNC_INTERVAL_SECONDS=101
